.footer-wrapper{
    position: relative;
    bottom: 0;
    margin-top: 20px;
    height: 50px;
}
.footer-content{
    background-color: gray;
}
.footer-content p {
    margin-top: 0;
    width: 100%;
    height: 100%;
}
.card-spacer{
    padding: 25px;
}